extends layout
block content
  .navbar
    .navbar-inner
      ul.nav
        each category in categories
          li
            a(href="/category/#{category.seo}") #{category.name}

  .main
  //- a(href="#").thumbnail
    //- img(src="http://placehold.it/930x160", alt="")
  //- hr
  h2 מומלצים
  ul.thumbnails
      each product in featured
        li.span3
          a(href="/product/#{product.seo}").thumbnail
            //- img(src="http://placehold.it/210x160", alt="")
            img(src="#{product.picture}" ,height="210", width="160")
            h6 #{product.name}
              p.pull-left ₪#{product.pricing.retail}
block scripts


