extend ../main/layout
block content
  .navbar
    .navbar-inner
      ul.nav
        each category in categories
          li
            a(href="/category/#{category.seo}") #{category.name}

  h2 #{locals.title}
  hr
  ul.thumbnails
      each product in products
        li.span3
          a(href="/product/#{product.seo}").thumbnail
            img(src="#{product.picture}", alt="")
            h6 &nbsp; #{product.name}
              p.pull-right ₪#{product.pricing.retail}
block scripts


