extends ../main/layout

block content
  h2 #{title}
  hr
  table.table.table-hover
    thead
      th שם פריט
      th מחיר
      th כמות
      th הסר
    tbody
      each product in cart.products
        tr
          td
            a(href='/product/#{product.seo}') #{product.name}
          td  ₪#{product.price}
          td= product.quantity
          td
            i.icon-remove
  .row-fluid
    h4 סה"כ: ₪#{cart.total}
    if (!locals.logged)
        a(href="/checkout/guest").btn.btn-primary המשך כאורח
    else
        a(href="/checkout/order").btn.btn-primary המשך כ#{user.name.first}

